@import "@/styles/common.sass"

.article
  margin-bottom: 20px !important
  display: flex
  padding-bottom: 10px !important
  border-bottom: 1px solid #eee
  & :global
    .info
      flex: 1
      display: flex
      flex-direction: column
      justify-content: space-between
      .text
        &>h4
          margin-top: 0
          margin-bottom: 10px
          line-height: 26px
          font-size: 18px
          font-weight: 500
        &>p
          margin: 0
          width: 95%
          line-height: 20px
          font-size: 14px
          color: #828a92
          @include ellipsis-l(3)
      .data
        font-size: 14px
        color: #333
        &>span
          display: inline-block
          width: 280px
    .cover
      height: 137px
      width: 244px
      object-fit: cover
