.editor
  min-height: 100vh
  & :global
    .content
      padding: 20px
      .ant-form-item
        margin-bottom: 10px !important
        position: relative
        .ant-form-item-extra
          height: 0
          min-height: 0
        .editor-upload
          position: absolute
          right: 0
          top: 10px
      .upload
        display: flex
        align-items: center
        justify-content: center
        width: 150px
        height: 150px
        border: 1px dashed #ccc
        font-size: 40px
        cursor: pointer
      .cover
        height: 150px
